.container {
    display: flex;
    flex-direction: column;
    margin: 8px;
    
}

.header{
    color: white;
    font-weight: 800;
    size: 20px;
    padding: 0px 5px 0px 5px;
    flex: 16;
}

.headerlink {
    color: #E5E7EB;
    size: 8px;
    border: red;
    flex: 3;

}

.headercontainer {
    background-color: #1F2937;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    height: 50px;
}

.intro {
    size: 48px;
    height: 300px;
    padding: 30px 150px 100px 150px;
    background-color: #1F2937;
}

.herotext {
    font-size: 36px;
    color: white;
    padding: 50px 0px 5px 0px;
}

.sidekicktext {
    font-size: 18px;
    color: rgb(202, 201, 201);
}
.bjork {
    float: right;
    width: 450px;
    height: 350px;
}
button {
    background-color: rgb(237, 115, 115);
    color: rgb(255, 255, 255);
    height: 60px;
    width: 150px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.5s;
}

button:hover {opacity: 1}

.albumarea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;

}

.albumbox {
    height: 250px;
    width: 250px;
    flex-wrap: wrap;
    padding: 40px 20px 0px 20px;
}

h1 {
    text-align: center;
}

.img-with-text {
    text-align: center;
    font-size: 18px;
}

.whiteboxcontainer {
    height: auto;
    padding: 100px;
    background-color: white;
}


.greybox {
    height: 100px;
    background-color: #E5E7EB;
    padding: 100px;
}

#quotetext {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

#authortext {
    font-size: 18px;
    color: black;
    text-align: center;
    font-style: bold;
}

.calltoaction{
    background-color: white;
    padding: 70px;
}
.bluecalltoactionbox {
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(58, 58, 196);
    color: white;
    justify-content: space-around;
}

h3 {
    font-size: 20px;
    
}

.calltoactiontext {
    align-items: center;

}

button2 {
    background-color: rgb(237, 115, 115);
    color: rgb(255, 255, 255);
    height: 25px;
    width: 80px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.5s;
}

button2:hover {opacity: 1}

.footer {
    background-color: #1F2937;
    size: 18px;
    text-align: center;
    font-size: 14px;
    padding: 25px;
    color: #E5E7EB;
}